.content-profile{
    padding-top:2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.your-profile{
    padding:1em;
    margin: 1em;
    width: calc(100% - 1em *2);
    word-break: break-all;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);
}

.actions-profile{
    position: relative;
    padding:1em;
    margin: 1em;
    width: calc(50% - 1em *2);
    min-height: 300px;
    word-break: break-all;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);
}
.profile-title{
    text-align: center;
    border-bottom: 1px solid #d1c1e0;
    height: 18%;
    margin-bottom: 1em;

}
.footer {
    position: absolute;
    width: calc(100% - 2.3em);
    bottom: 0px;
    margin-top: 1em;
}
.body{
    height: 50%;
    /* display: flex; */
    position: relative;
}
.select-token{
    position: absolute;
    top: calc(50% - 1em);
    width: 100%;
}
/* responsive  */
@media (max-width: 750px) {
    .actions-profile{
        width: calc(100% - 1em *2)!important;

    }
  }
